/* Main text and borderColor will be same for dark mode */

  
:root{
	--secondaryColor:#121212 ;
	--mainColor:#2b2b2b;

	--borderColor:#576e72;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(78, 78, 78, 0.8);
	--previewShadow:#222222;


	--buttonColor:#17a2b8;


}