:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;
    
    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder: #24292e;

    --previewBg:rgba(248, 242, 227, 0.788);
    --previewShadow:#f0ead6;
}


html,body{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 ,strong{
    color:var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,a,li,span,label,textarea{
    color:var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}


h1{font-size:3.5em}
h2{font-size:2.25em}
h3{font-size:1.75em}
h4{font-size:1.5em}
h5{font-size:1.25em}
h6{font-size:1em}

a{
    text-decoration:none;
    color:#17a2b8;
}

a:visited{
    color:#17a2b8;
}
li{
    list-style: none;

}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: hidden;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s3{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s4{
    background-color: var(--secondaryColor  );
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 10em;
    text-align:center;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3em 30em; */
    grid-template-areas: 
        "nav-wrapper nav-wrapper"
        "left-column right-column";
    
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    border-radius: 5px 5px 0 0;

}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}

.nav-dots{
    display: flex;
    padding: 10px;
    
}

.dots{
    background-color: chocolate;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin:5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.nav-link ul{
    display: flex;
   
}

.nav-link ul li{
    margin-right: 2em;
   
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom:50px;

}

#profile-pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor)
}

.theme-option-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    cursor:pointer;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); 
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}

#purple-mode{
    background-color: #7E4C74;
}

#settings-note{
    font-size:12px;
    font-style: italic;
    text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    background-color: var(--previewBg);
    border:1.5px solid #17a2b8;
    padding:15px;
    position: relative;

}

.corner{
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius:50%;
    border:2px solid rgb(180, 180, 255);
    position: absolute;

}

#corner-1{
    top:-5px;
    left:-5px;
}

#corner-2{
    top:-5px;
    right:-5px;
}

#corner-3{
    bottom:-5px;
    right:-5px;
}
#corner-4{
    bottom:-5px;
    left:-5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 5em;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-me{

}

.para-1{
    margin-top:50px;
    margin-bottom:30px;
    

}

#about-para-2{
    margin-bottom:60px;
}

.social-links{
    margin-top:60px;
    
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);  
    /* grid-template-columns: repeat(3,1fr); */
    grid-gap: 3em;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);     
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: #fff;
    padding:15px; 
    /* try commenting padding */

}
/* setting defalut color so changing theme will not affect it */
.post-title{
	color:black;
    margin: 0;
    font-size: 20px;
    
}

.post-intro{
	color:#4b5156;
    font-size: 18px;
}



/* @media screen and (max-width:1400px){
    .main-container{
        width:100%
    }
} */
/* when screen is 1200 or smaller */
@media screen and (max-width:1200px){
    .main-container{
        width:95%
    }
}


/* when screen is 768 or small */
@media screen and (max-width:768px){
   .intro-wrapper{
       grid-template-columns: 1fr;
       grid-template-areas: "nav-wrapper" "left-column" "right-column";
   }
   .right-column{
       justify-content: center;
   }
   .about-wrapper{
    grid-gap: 3em;
    }
    
    .about-right{
    border-top:2px solid var(--borderColor);
    }

}
@media screen and (max-width:400px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: "nav-wrapper" "left-column" "right-column";
    }   
    #preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

    }
    
    


}

