:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;
    
    --mainText:black;
    --secondaryText:#4b5156;
}

*{
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 ,strong{
    color:var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,li,span,label,textarea{
    color:var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}


h1{font-size:3.5em}
h2{font-size:2.25em}
h3{font-size:1.75em}
h4{font-size:1.5em}
h5{font-size:1.25em}
h6{font-size:1em}

a{
    text-decoration:none;
}

a:visited{
    color:#17a2b8;
}
li{
    list-style: none;
    color:#17a2b8
}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: hidden;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s3{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s4{
    background-color: var(--secondaryColor  );
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    min-height: 20em;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width:1400px){
    .main-container{
        width:100%
    }
}
/* when screen is 1200 or smaller */
@media screen and (max-width:1200px){
    .main-container{
        width:95%
    }
}


/* when screen is 768 or small */
@media screen and (max-width:768px){
    .main-container{
        width:85%;
    }
}
@media screen and (max-width:425px){
    .main-container{
        width:90%;
    }
}

