<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.70">
    <title>Karan Munjani</title>
    <link rel="stylesheet" href="Main-container.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
</head>


<body>

    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm Karan Munjani</h1>
            </div>
            
            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="nav-dots">
                        <div class="dots" id="dot-1"></div>
                        <div class="dots" id="dot-2"></div>
                        <div class="dots" id="dot-3"></div>
                    </div>

                      <div class="nav-link">
                        <ul>
                         <li><a href="#">Contact</a></li>
                         <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="sub-container">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis libero, repellat corrupti nostrum nulla, eligendi repudiandae necessitatibus vel quisquam reiciendis minus ullam quam esse illum fugit iusto recusandae molestiae! Aliquid.
                    Officia sapiente quaerat quibusdam repellendus voluptatum libero esse officiis accusantium, illum dolore magnam quam voluptas nulla voluptatem cum! Officiis reiciendis iusto numquam, vero sit reprehenderit optio dignissimos eveniet ducimus placeat.
                    Dicta dolore facilis ut optio eum adipisci numquam, consectetur repudiandae recusandae. Veritatis fugiat itaque quaerat error, eos illum cumque autem cum distinctio quidem quasi magni! Laboriosam, voluptates? Exercitationem, deserunt pariatur!
                    Ducimus sed modi, omnis quisquam sequi iste accusamus facere aut obcaecati ipsum quis rerum consequuntur praesentium voluptatem qui. Quas eaque illum explicabo eius voluptatibus, doloribus deleniti quo hic qui necessitatibus?
                    Ratione quidem nostrum magnam nesciunt deleniti minus corporis doloremque, quo eaque? Nesciunt, fugit laboriosam doloribus quae minus voluptatibus iure vitae eum perferendis error ad tempore dolores magnam, ab inventore voluptate?
                    Fuga voluptatibus in repellendus ex tempora odit accusantium dignissimos explicabo, nemo repellat dolor quis nesciunt! Obcaecati, voluptates vero iure aut optio repellendus quos libero cupiditate, soluta explicabo, voluptatem eius neque!
                    Quibusdam saepe commodi rerum illo. Ex eveniet doloremque ad corrupti consectetur, eum quaerat consequuntur omnis aspernatur! Perferendis, similique iure labore nam fuga minima minus eveniet at excepturi, inventore doloribus cupiditate!
                    Recusandae laudantium praesentium, voluptatem cum sapiente distinctio a tempore autem quam facere. Architecto in magnam sequi repellendus hic inventore adipisci ducimus dolor vitae nihil quod dolorem, quam sunt praesentium consequatur!
                    Aspernatur accusantium aperiam labore veniam, iure nisi expedita quos neque ex amet pariatur distinctio consequatur recusandae adipisci cupiditate vero! Omnis eveniet, consequuntur quod aliquam architecto unde earum dignissimos provident debitis?
                    Accusamus possimus ullam cumque nulla quo cum beatae quasi mollitia placeat voluptatibus quam maiores temporibus veniam eum libero dolores odio, dicta, nobis adipisci est. Sit ut quas quidem deserunt? Recusandae.
                    Consequuntur, nesciunt. Placeat molestias in asperiores, eius eligendi aperiam dicta at laborum magni consectetur laudantium. Maiores magnam nam libero tempora voluptatem atque corrupti adipisci, enim ad? Illo blanditiis sit suscipit.
                    Nostrum minus molestiae eligendi quos amet eum reiciendis quia commodi! At quod adipisci repudiandae magnam qui architecto saepe necessitatibus nam autem quis eum labore, maxime quos delectus error expedita rem!
                    Autem nostrum officiis sapiente esse adipisci amet pariatur molestiae voluptatibus, veritatis voluptas deserunt obcaecati. Maxime, culpa inventore! Aliquam ex hic voluptatum placeat! Laborum natus nihil, rerum possimus facere sequi autem.
                    Minus iure amet debitis est commodi beatae quibusdam aspernatur inventore ad quasi incidunt excepturi eos, voluptatum possimus tenetur tempora consequatur obcaecati molestiae cupiditate vel totam nam sint nisi atque! Repellat.
                    Fuga aspernatur velit hic natus architecto veniam voluptatibus id asperiores quaerat optio corporis, impedit deserunt ad numquam eveniet qui eum sapiente consectetur omnis! Fugit libero velit fuga. Veniam, doloribus pariatur.
                    Ea reprehenderit fuga distinctio laboriosam repellat dolore sint? Magnam qui enim nemo porro iure ipsa id perferendis, commodi, ad quibusdam atque beatae facilis sit nostrum placeat dolorem, nobis rerum. Numquam!
                    Maxime nostrum aspernatur tempore ad error eos, ipsum incidunt praesentium at officia tenetur aperiam est sit libero delectus quo atque doloremque similique, fugit repellat ex quos ipsam! Unde, culpa beatae.
                    Quisquam consectetur, excepturi nihil quidem repellendus perspiciatis eius ea iure autem dicta eos repudiandae delectus officia, cupiditate laborum blanditiis. Sequi iusto aut, fugit sed debitis maxime adipisci vero sapiente tempore?
                    Perferendis distinctio pariatur eius temporibus! Quaerat deleniti corrupti nesciunt aperiam optio in perferendis dolorem alias iusto atque ducimus laudantium obcaecati quas, libero porro esse aliquid adipisci hic. Aliquid, amet non!
                    Aliquam necessitatibus, expedita deserunt molestiae nulla debitis accusantium corrupti exercitationem facilis veniam quam nemo ratione minima quibusdam hic obcaecati? At accusamus vero optio quae id nam facilis illum exercitationem maiores.
                    Quos repellat voluptatum quod in eius libero, vitae dicta culpa cum earum neque odio, explicabo amet reiciendis accusantium quidem iste voluptate, deleniti quia temporibus quasi dolore sapiente! Quis, sapiente tenetur?
                    Ab consequuntur perferendis eaque id provident voluptas quisquam maxime dolor natus molestias. Doloribus velit accusantium rerum corrupti dignissimos, veritatis veniam. Voluptatem doloribus quam totam, voluptatibus odio iure fugit distinctio molestias!
                    Laboriosam iusto, at sapiente optio quisquam possimus! Doloremque rerum fugiat quis ipsam quos accusamus maxime nostrum distinctio animi beatae illum officiis, impedit culpa molestias at mollitia facere facilis corporis omnis.
                    Voluptate in neque nostrum dolor eaque, quo aut a illum et fugit enim! Provident facilis sapiente inventore temporibus non officia cumque, possimus consectetur veniam libero tempore dolorem quaerat nostrum ipsum.
                    Placeat accusamus perspiciatis accusantium obcaecati id culpa molestiae, harum amet libero nobis! Quidem nostrum assumenda accusamus sapiente adipisci repellat consectetur sit beatae, aperiam eius nobis debitis voluptatem iure explicabo distinctio!
                    Repellendus voluptas nam atque esse doloremque vel molestias, dolores alias nihil culpa, neque accusantium labore pariatur aliquid ducimus. Temporibus assumenda itaque amet quidem, consequuntur quae impedit porro vero aspernatur suscipit.
                    Maxime facere iure nostrum, nisi obcaecati quibusdam deleniti dolorum tempora exercitationem voluptates, quo cupiditate, eius delectus possimus illo alias ullam. A ipsa corporis saepe impedit repellat reprehenderit totam delectus incidunt.
                    Officiis fuga numquam dolores laudantium vel dolore, eligendi commodi sequi voluptatibus molestiae ut beatae asperiores totam, quae ullam tempore eos amet nulla nostrum, dolorum eaque omnis. At tempore atque id.
                    Ab hic rem expedita facilis ducimus similique magni, libero dolore ipsa quo deserunt eum, at tempore exercitationem quasi reprehenderit accusantium maiores possimus explicabo. Atque cumque reiciendis consectetur qui velit error!
                    Suscipit numquam ab cum commodi esse hic nam, atque quam possimus, veniam dolorum! Suscipit vel architecto atque non nihil aliquam, aspernatur ad dignissimos qui vero voluptatum ipsa alias, odio perferendis?
                    Officia, rerum obcaecati, quibusdam fuga fugiat labore praesentium nam quisquam officiis placeat odio nisi sed impedit. Reiciendis nostrum dicta fugiat iste blanditiis exercitationem quidem. Itaque commodi dolorem voluptas sit rerum?
                    Sunt voluptatem aspernatur sapiente maiores ipsam ex, nisi exercitationem officiis, dolorum accusamus nulla quod! Accusantium porro corporis sunt eos quis asperiores molestiae odio soluta at suscipit. Voluptas repellat fuga impedit.
                    Blanditiis, quos doloribus aperiam quasi quam numquam, magni deserunt voluptates reprehenderit commodi accusamus dolore? Iure labore atque animi at commodi? Reiciendis possimus explicabo necessitatibus soluta beatae harum eos deserunt voluptas.
                    Quisquam, debitis culpa? Quasi reiciendis laboriosam perspiciatis enim consectetur perferendis. Minus maxime impedit labore praesentium reprehenderit voluptate voluptas culpa assumenda. Qui voluptate officiis fugit facilis odio. Magnam sed suscipit necessitatibus?</p>
                </div>
            </div>
        </div>
    </section>